.navbar {
  transition: background-color 0.3s ease;
}

.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.8);
}

#hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("aset/img/bgProfile.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#hero img {
  max-width: 350px;
  border-radius: 50%;
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 1s ease-out, opacity 1s ease-out;
}

#hero img.visible {
  transform: translateX(0);
  opacity: 1;
}

#hero .display-4 {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

#hero .display-4.visible {
  transform: translateY(0);
  opacity: 1;
}

.card {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.btn {
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn:hover {
  transform: scale(1.1);
  background-color: #0056b3;
}

.contact form {
  transition: transform 0.3s ease;
}

.contact form:hover {
  transform: translateY(-5px);
}
.footer {
  background-color: #212529;
  transition: background-color 0.3s ease;
}

footer a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #0056b3;
}

.jumbotron {
  width: 100%;
  height: 200px;
  background-color: #091057;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.logo-container {
  display: flex;
  gap: 20px;
  animation: slideRight 10s linear infinite;
}

.logo {
  width: 100px;
  height: auto;
}

@keyframes slideRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
